/*
.css-10ur324 {
  overflow: hidden;
}
*/

.contentWrapper {
  margin-left: 1%;
  margin-right: 1%;
  width: auto;
  max-height: 100vh; /* oder eine andere passende Höhe */
  overflow: hidden;
}

.tableHeaderCell {
  background-color: #00000033;
  color: #333;
  font-weight: bolder;
  font-size: larger;
}
/*
.scrollableTableContainer {
  max-height: 500px;
  overflow: auto;
}
*/
